.hover-image {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.hover-image:hover {
  transform: rotate(30deg);
}

*:not(.fa-star, i) {
  font-family: BukraRegular;
}

.selected {
  /* background-color: #001672; */
  border: 15px solid #001672;
  border-radius: 10px;
}

.form-control:focus {
  box-shadow: none;
}

.placeholder-image {
  width: 100%;
  height: 100%;
  background-color: #eee;
}
td {
  vertical-align: middle !important;
}

input {
  border-radius: 0;
  text-align: center;
}
