<div id="outercontainer">
  <div class="container" [dir]="isTranslated ? 'rtl' : 'ltr'">
    <div class="form signup col-10 col-md-6 position-relative">
      <span class="title">{{
        isTranslated ? translatedText.Registration : originalText.Registration
      }}</span>

      @if(User.register_error()){

      <button
        type="button"
        class="btn btn-light position-absolute end-0 mx-2 px-2 Err"
        data-bs-toggle="popover"
        data-bs-title="Popover title"
        data-bs-trigger="hover focus"
        data-bs-title="error"
        data-bs-content="the email or password that you've entered doesn't match any account (may you need to register first or check your input and try again)"
      >
        <i
          class="bi bi-exclamation-triangle btn btn-outline-danger m-1 px-1"
        ></i>
      </button>

      }
      <span class="popup end-0 top-0">
        {{ isTranslated ? translatedText.Incorrect : originalText.Incorrect }}
      </span>

      <form [formGroup]="validate" action="#">
        <!-- Name -->
        <div>
          <div class="input-field">
            <input
              id="name"
              type="text"
              [(ngModel)]="name"
              placeholder="{{
                isTranslated
                  ? translatedText.Enteryourname
                  : originalText.Enteryourname
              }}"
              required
              formControlName="userName"
            />
            <i class="bi bi-person-plus"></i>
          </div>

          @if(nameValid){
          <p style="color: green; font-size: smaller">
            {{
              isTranslated ? translatedText.Validinput : originalText.Validinput
            }}
          </p>
          }@else if (name){
          <p style="color: red">
            <span style="font-size: smaller">{{
              isTranslated ? translatedText.NotValid : originalText.NotValid
            }}</span>
          </p>
          } @else {
          <p style="color: red; font-size: smaller">
            {{ isTranslated ? translatedText.required : originalText.required }}
          </p>
          }
        </div>

        <!-- Email -->
        <div>
          <div class="input-field m-0">
            <input
              type="text"
              [(ngModel)]="email"
              placeholder="{{
                isTranslated ? translatedText.youremail : originalText.youremail
              }}"
              required
              formControlName="userEmail"
            />
            <i class="bi bi-envelope-at"></i>
          </div>

          @if(emailValid){
          <p style="color: green; font-size: smaller">
            {{
              isTranslated ? translatedText.Validinput : originalText.Validinput
            }}
          </p>
          } @else if (email){
          <p style="color: red">
            <span style="font-size: smaller"> exemple"&#64;"gmail.com</span>
          </p>
          } @else {
          <p style="color: red; font-size: smaller">
            {{ isTranslated ? translatedText.required : originalText.required }}
          </p>
          }
        </div>

        <!-- password  -->
        <div>
          <div class="input-field m-0">
            <input
              [type]="show_hide"
              [(ngModel)]="password"
              formControlName="userPassword"
              class="password"
              placeholder="{{
                isTranslated ? translatedText.password : originalText.password
              }}"
              required
            />
            <i [class]="icon" (click)="showHidePw()"></i>
            <i class="bi bi-person-lock"></i>
          </div>

          @if(passValid){
          <p style="color: green; font-size: smaller">
            {{
              isTranslated ? translatedText.Validinput : originalText.Validinput
            }}
          </p>
          } @else if (password){
          <p style="color: red">
            <span style="font-size: smaller">
              {{
                isTranslated
                  ? translatedText.passwordcharacter
                  : originalText.passwordcharacter
              }}
            </span>
          </p>
          } @else {
          <p style="color: red; font-size: smaller">
            {{ isTranslated ? translatedText.required : originalText.required }}
          </p>
          }
        </div>

        <!-- confirm password  -->
        <div>
          <div class="input-field m-0">
            <input
              [type]="show_hide"
              [(ngModel)]="conPass"
              formControlName="passconfirm"
              class="password"
              placeholder="{{
                isTranslated ? translatedText.Confirm : originalText.Confirm
              }}
              "
              required
            />
            <i [class]="icon" (click)="showHidePw()"></i>
            <i class="bi bi-person-lock"></i>
          </div>
          @if(passwordconfirm){
          <p style="color: green; font-size: smaller">
            {{
              isTranslated ? translatedText.Validinput : originalText.Validinput
            }}
          </p>
          } @else if (conPass){
          <p style="color: red">
            <span style="font-size: smaller">
              {{
                isTranslated ? translatedText.Notmatch : originalText.Notmatch
              }}
            </span>
          </p>
          } @else {
          <p style="color: red; font-size: smaller">
            {{ isTranslated ? translatedText.required : originalText.required }}
          </p>
          }
        </div>

        <!-- checkbox -->
        <div class="checkbox-text">
          <div class="checkbox-content">
            <input
              type="checkbox"
              formControlName="checkbox"
              id="termCon"
              required
            />
            <label for="termCon" class="text">{{
              isTranslated ? translatedText.Iaccepted : originalText.Iaccepted
            }}</label>
          </div>
        </div>
        <div class="input-field button">
          <!-- <input type="button" value="Signup" (click)="register_config()" /> -->
          <button
            [disabled]="validate.invalid || passwordconfirm === false"
            type="button"
            class="btn btn-primary w-100 h-100"
            id="liveToastBtn"
            (click)="register_config()"
          >
            {{ isTranslated ? translatedText.Signup : originalText.Signup }}
          </button>
        </div>
      </form>
      <div class="login-signup">
        <span class="text"
          >{{ isTranslated ? translatedText.Already : originalText.Already }}
          <a routerLink="/login" class="text login-link">{{
            isTranslated ? translatedText.LoginNow : originalText.LoginNow
          }}</a>
        </span>
      </div>
    </div>
  </div>
</div>
