<footer class="row d-flex bg-light bg-opacity-0 text-black p-2">
  <div>
    <h2 class="head col-12 bg-primary bg-opacity-15">
      <a href="#"
        ><img
          class="logo rounded-5"
          src="assets/footer-images/petscare.png"
          width="80"
          height="40"
          alt=""
      /></a>
    </h2>
  </div>
  <!-- left half info -->
  <div
    class="flex-column align-items-md-center justify-content-md-between col-12 col-md-6 mb-2"
  >
    <div class="d-flex col text-white" style="--bs-bg-opacity: 0.5">
      <div class="contact col m-2 p">
        <p class="m-0"><a href="#">Contact us</a></p>
        <p class="m-0"><a href="#">About us</a></p>
        <p class="m-0"><a href="#">Help&Support</a></p>
        <p class="m-0"><a href="#">Investors</a></p>
      </div>
      <div class="Terms col m-2">
        <p class="m-0"><a href="#">Terms</a></p>
        <p class="m-0"><a href="#">Privacy and Policy</a></p>
        <p class="m-0"><a href="#">Cookie Settings</a></p>
        <p class="m-0"><a href="#">Payment Method</a></p>
      </div>
      <div class="Terms col m-2">
        <p class="m-0"><a href="#">Terms</a></p>
        <p class="m-0"><a href="#">Privacy and Policy</a></p>
        <p class="m-0"><a href="#">Cookie Settings</a></p>
        <p class="m-0"><a href="#">Payment Method</a></p>
      </div>
    </div>
    <div class="pages col text-white h-25">
      <ul id="navbar">
        <li><a href="#">Home</a></li>
        <li><a href="#">shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="Payment d-flex mb-1 pb-1">
      <a href="#"
        ><img
          class="p-1 m-2 border border-danger-subtle"
          src="assets/footer-images/paypal3.png"
          width="30"
          height="30"
          alt=""
      /></a>
      <a href="#"
        ><img
          class="p-1 m-2 border border-danger-subtle"
          src="assets/footer-images/mastercard.png"
          width="30"
          height="30"
          alt=""
      /></a>
      <a href="#"
        ><img
          class="p-1 m-2 border border-danger-subtle"
          src="assets/footer-images/paymob.png"
          width="30"
          height="30"
          alt=""
      /></a>
      <a href="#"
        ><img
          class="p-1 m-2 border border-danger-subtle"
          src="assets/footer-images/visa.png"
          width="30"
          height="30"
          alt=""
      /></a>
    </div>
  </div>
  <!-- second half  -->
  <div class="flex-column col-12 col-md-6">
    <div class="flex-row col bg-light bg-opacity-75 text-info">
      <p class="my-1">
        Get the freshest
        <a href="#" class="text-danger-emphasis">
          <img
            src="assets/footer-images/logossss.png"
            height="30"
            width="45"
            alt=""
          />
        </a>
        News
      </p>
      <!-- form email & button  -->
      <form class="d-flex justify-content-start mb-3">
        <div class="input-group mb-3">
          <input
            type="email"
            class="form-control bg-opacity-15 text-white border border-primary-subtle"
            pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
            placeholder="Your email address"
            aria-describedby="button-addon2"
          />
          <button
            class="text-black border border-primary-subtle"
            type="submit"
            id="button-addon2"
          >
            Subscribe
          </button>
        </div>
      </form>

      <!-- scond row (description text) -->
    </div>
    <div class="col bg-opacity-10 text-info">
      <p>
        we are a pet shop online and we aim to offer our customers a variety of
        the latest Pet Products online. supplying you with high quality yet
        budget-friendly products. We offer all of this while providing excellent
        customer service and friendly support.
      </p>
    </div>
  </div>

  <!-- tail part  row of social icons  -->
  <section class="d-flex col-12 justify-content-center Social p-2 m-2">
    <!-- Facebook -->
    <a class="icon" href="#!"><i class="bi bi-meta"></i></a>

    <!-- Twitter -->
    <a class="icon" href="#!"><i class="bi bi-twitter-x"></i></a>

    <!-- whatsaap -->
    <a class="icon" href="#!"><i class="bi bi-whatsapp"></i> </a>

    <!-- Instagram -->
    <a class="icon" href="#!"><i class="bi bi-instagram"></i> </a>

    <!-- Linkedin -->
    <a class="icon" href="#!"><i class="bi bi-linkedin"></i> </a>

    <!-- Github -->
    <a class="icon" href="#!"><i class="bi bi-github"></i> </a>
  </section>

  <div class="bg_c mb-3 py-2" style="--bs-bg-opacity: 0.5">
    <h6>Business Partners</h6>
    <div class="d-flex col-12 justify-content-evenly">
      <div class="Business flex-wrap mb-2">
        <p class="m-0"><a class="con" href="#!">Nutramax Laboratories</a></p>
        <p class="m-0"><a class="con" href="#!">NaturVet</a></p>
        <p class="m-0"><a class="con" href="#!">Zesty Paws</a></p>
        <p class="m-0"><a class="con" href="#!">Ark Naturals</a></p>
        <p class="m-0"><a class="con" href="#!">Wellness CORE</a></p>
        <p class="m-0"><a class="con" href="#!">Hill's Science Diet</a></p>
        <p class="m-0"><a class="con" href="#!">Nutramax Laboratories</a></p>
      </div>
    </div>
    <p style="text-align: center">Copyright &copy; ...... All rights reseved</p>
  </div>
</footer>
