<div class="container mt-3" [dir]="isTranslated ? 'rtl' : 'ltr'">
  <div class="row breadcrumb col-12">
    <ul class="breadcrumb m-0">
      <li>
        <a class="home" routerLink="/"
          ><i class="fa-solid fa-house-chimney"></i
        ></a>
      </li>
      <li>
        <a routerLink="/shopping-cart">{{
          isTranslated ? translatedText.ShoppingCart : originalText.ShoppingCart
        }}</a>
      </li>
    </ul>
  </div>
  <div class="row col-12 m-0 mt-5">
    <h2 class="ps-0">
      {{
        isTranslated ? translatedText.ShoppingCart : originalText.ShoppingCart
      }}
    </h2>
    <table class="table table-bordered text-center">
      <thead>
        <tr class="">
          <th class="col-2">
            {{ isTranslated ? translatedText.Image : originalText.Image }}
          </th>
          <th class="col-5">
            {{
              isTranslated
                ? translatedText.ProductName
                : originalText.ProductName
            }}
          </th>
          <th class="col-2">
            {{ isTranslated ? translatedText.Quantity : originalText.Quantity }}
          </th>
          <th class="col-1">
            {{
              isTranslated ? translatedText.UnitPrice : originalText.UnitPrice
            }}
          </th>
          <th class="col-2">
            {{ isTranslated ? translatedText.Total : originalText.Total }}
          </th>
        </tr>
      </thead>
      <tbody>
        @if(products.length > 0){ @for(pr of products; track pr.id){
        <tr
          class="w-100"
          app-cart-element
          [product]="pr"
          [user]="User"
          (setSubTotal)="getSubtotal($event)"
        ></tr>
        } } @else {
        <tr>
          <td class="m-3 col-2">
            <img
              src="assets/cart-placeholder.png"
              class="border border-secondary"
            />
          </td>
          <td class="m-2 col-5">
            <p class="placeholder-glow col-12">
              <span class="placeholder col-12 placeholder-lg"></span>
            </p>
            <p class="placeholder-glow col-12 text-start">
              <span class="placeholder col-6 placeholder-lg"></span>
            </p>
          </td>
          <td class="m-2 col-2">
            <p class="placeholder-glow col-12">
              <span class="placeholder col-8 placeholder-lg"></span>
            </p>
          </td>
          <td class="m-2 col-1">
            <p class="placeholder-glow col-12">
              <span class="placeholder col-8 placeholder-lg"></span>
            </p>
          </td>
          <td class="m-2 col-2">
            <p class="placeholder-glow col-12">
              <span class="placeholder col-8 placeholder-lg"></span>
            </p>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="row m-0 d-flex justify-content-between gap-lg-0 gap-2">
    <div
      id="accordion"
      class="accordion col-lg-9 col-12 d-flex align-items-start"
    >
      <div class="card col-12 p-0">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <strong>{{
                isTranslated ? translatedText.Terms : originalText.Terms
              }}</strong>
            </button>
          </h5>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordion"
        >
          <div class="card-body">
            {{ isTranslated ? translatedText.policies : originalText.policies }}
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive col-lg-3 col-12 p-0">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="col-4">
              {{ isTranslated ? translatedText.Sub : originalText.Sub }}
            </td>
            <td class="col-8">
              {{
                subTotal
                  | currency
                    : (isTranslated ? translatedText.EGP : originalText.EGP)
              }}
            </td>
          </tr>
          <tr>
            <td class="col-4">
              {{ isTranslated ? translatedText.Vat : originalText.Vat }}
            </td>
            <td class="col-8">
              {{
                subTotal * 0.15
                  | currency
                    : (isTranslated ? translatedText.EGP : originalText.EGP)
              }}
            </td>
          </tr>
          <tr>
            <td class="col-4">
              {{ isTranslated ? translatedText.Total : originalText.Total }}
            </td>
            <td class="col-8">
              {{
                subTotal + subTotal * 0.15
                  | currency
                    : (isTranslated ? translatedText.EGP : originalText.EGP)
              }}
            </td>
          </tr>
        </tbody>
      </table>
      <button routerLink="/checkout" class="btn btn-success col-12">
        {{ isTranslated ? translatedText.Checkout : originalText.Checkout }}
      </button>
    </div>
      
  </div>
</div>
