<section class="about-section">
  <div class="container">
      <div class="row">                
          <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
              <div class="inner-column">
                  <div class="sec-title aaa">
                      <span class="title ">About Us</span>
                      <h2>We provide a wide range of high-quality pet supplies, services, solutions and expertise to enhance pet care by providing the best of the world's leading brands available.</h2>
                  </div>
                  <div class="text">Our vision:

                      Leadership and excellence in providing products and supplies that serve the animal world from all over the world.</div>
                <div class="text">
                  Our message:

                  Providing all necessary services and care to home owners.
                </div>
                  <div class="btn-box">
                      <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                  </div>
              </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column wow fadeInLeft">
                <div class="author-desc">
                  <h2>Rahul Kumar Yadav</h2>
                  <span>Web Developer</span>
                </div>
                  <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" 
                          src="https://media.istockphoto.com/id/646426312/photo/group-of-different-pets.jpg?s=612x612&w=0&k=20&c=iGav2uTWUwHt3j_mtJDcC9_p02aZRLv0u47gP5Ffpqw=" alt=""></a></figure>
               
              </div>
          </div>
        
      </div>
     <div class="sec-title">
                      <span class="title">Our Future Goal</span>
                      <h2>We want to lead in innovation & Technology</h2>
                  </div>
    <div class="text">
          We works on UI/UX and functionality as well so that a plugins comes with proper stucture & stunning looks which suits to your web app & website.
        </div>
         <div class="text">
          We take a small toolkit here and ride it well so that it is fit for your use. One who performs well and looks even better.
        </div>
         <div class="text">                
Here we are trying to give you all kinds of technical content, whether it is related to designing or functionality. We are creating content on a lot of languages and will continue to make it free of cost even if you use it without any problem. Which is a very important thing.
        </div>
         <div class="text">
          Here you can also share the content you create, if our technical team likes it, then we will also share it on our blog.
        </div>
         <div class="text">
          
In the end, I would say keep visiting our website and enjoy the quality content.
        </div>
  </div>
</section>