<section class="section-content mt-3">
  <div class="container">
    <div class="card-container">
      <div class="card">
        @if(product){
        <div class="row g-0">
          <div class="col-md-4">
            <img
              [src]="product.image"
              [alt]="product.name"
              class="card-img-top img-fluid"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title text-primary text-center font-italic">
                <strong>{{ product.name }}</strong>
              </h2>
              <p class="card-text text-muted">
                <strong>Price: </strong>
                <strong class="price">{{
                  product.price | currency : "EGP " : "symbol" : "1.2-2"
                }}</strong>
              </p>

              <div>
                <p class="bi bi-gift-fill">
                  Gift wrapping available. Select at checkout.
                </p>
                <p class="bi bi-truck">
                  &nbsp;Free Delivery on Orders over 500 EGP.
                </p>
                <p class="bi bi-box-seam-fill">&nbsp;Free Return.</p>
                <p class="bi bi-wallet2">&nbsp;Secure Payment.</p>

                <span class="stars text-warning">
                  ({{ product.rating }})
                  <i
                    *ngFor="let star of displayStars(product.rating)"
                    [class]="star"
                  ></i>
                </span>
                on {{ product.reviews }} Reviews.
              </div>

              <div class="text-center m-3">
                <a href="#" class="btn btn-primary me-1">Buy Now</a>
                <a
                  (click)="addToCart(product.id, product.categories)"
                  class="btn btn-outline-secondary"
                  >Add to Cart</a
                >
              </div>

              <div id="accordion" class="accordion mt-3">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="false"
                        aria-controls="collapseOne"
                      >
                        <strong>Description:</strong>
                      </button>
                    </h5>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordion"
                  >
                    <div class="card-body">
                      {{ product.description }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
