<div *ngIf="product" class="container mt-4">
  <div class="card mb-3">
    <div class="row g-0">
      <!-- Card for Image -->
      <div class="col-md-6">
        <div class="card">
          <img
            style="height: 40vw; width: 40vw"
            [src]="product.image"
            alt="{{ product.name }}"
            class="card-img-top img-fluid"
          />
        </div>
      </div>

      <!-- Card for Remaining Data -->
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title text-primary">
            <strong>{{ product.name }}</strong>
          </h2>
          <p class="card-text text-muted">
            <strong>Price:</strong>
            <strong>{{
              product.price | currency : "USD" : "symbol" : "1.2-2"
            }}</strong>
          </p>
          <p class="card-text text-muted">
            <strong>Quantity:</strong> {{ product.quantity }}
          </p>
          <p class="card-text text-muted">
            <strong>Description:</strong> {{ product.description }}
          </p>
          <p class="card-text text-muted">
            <strong>Rating:</strong>
            <span id="starts" class="stars text-warning">
              <!-- <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i> -->
            </span>
          </p>
          <p class="card-text text-muted">
            <strong>Reviews:</strong> {{ product.reviews }}
          </p>
          <p class="card-text text-muted">
            <strong>Categories:</strong> {{ product.categories }}
          </p>
          <p class="card-text text-muted">
            <strong>Seller:</strong> {{ product.seller }}
          </p>
        </div>

        <div class="text-center">
          <button class="btn btn-primary btn-lg m-2">Buy Now</button>
          <button class="btn btn-primary btn-lg m-2">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
