.table-responsive a {
  color: #001672;
  transition: 0.5s;
  text-decoration: none;
}

.table-responsive a:hover,
.table-responsive a:active,
.table-responsive a:focus {
  color: #1e90ff;
  outline: none;
  text-decoration: none;
}

th {
  text-align: center;
  background: #001672;
  border-color: white;
  vertical-align: middle;
  color: white;
}

td {
  color: #666666;
  vertical-align: middle;
}

img {
  max-width: 6vw;
  max-height: 6vw;
}

.add,
.table-responsive button {
  height: 30px;
  padding: 2px 10px;
  text-align: center;
  color: #ffffff;
  background: #001672;
  border: none;
}

.add:hover,
.table-responsive button:hover {
  background: #1e90ff;
}

#idExisted {
  display: none;
}
