<div class="top-head d-flex justify-content-between">
  <!-- start Sign In button -->

  <!-- <div class="p-0 m-1"> -->
  <!-- @if (userServ.user) {
    <a href="#" (click)="userServ.signout()"
      ><button type="button" class="btn btn-primary border m-1">
        <i class="bi bi-person-dash"></i> Sign Out
      </button></a
    >
    } @if(!userServ.getUser()){
    <a routerLink="/login"
      ><button type="button" class="btn btn-primary border m-1">
        <i class="bi bi-people"></i> Sign In
      </button></a
    >
    } 
  -->

  @if (userServ.getUser()) {
  <button class="btn btn-primary border m-2 log" (click)="userServ.signout()">
    <i class="bi bi-person-dash"></i>
    {{ isTranslated ? translatedText.a2 : originalText.a2 }}
  </button>

  } @if(!userServ.getUser()) {
  <button class="btn btn-primary border m-2 log" routerLink="/login">
    <i class="bi bi-people"></i>
    {{ isTranslated ? translatedText.a1 : originalText.a1 }}</button
  >}
  <!-- end Sign In button -->

  <button
    class="btn btn-primary d-lg-none col-6 p-0 m-1"
    data-toggle="modal"
    data-target="#searchModal"
  >
    <i class="fa-solid fa-search fa-xl"></i>
  </button>

  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    id="searchModal"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog text-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Search</h3>
          <button
            type="button"
            class="btn btn-danger rounded"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input
            #mobileSearch
            class="w-100 searchInput"
            type="text"
            placeholder="{{
              isTranslated ? translatedText.searchpar : originalText.searchpar
            }}"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="search(mobileSearch.value)"
          >
            Search
          </button>
          <button
            #closeSearch
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <div class="p-0 m-1">
    <button class="btn btn-primary border m-1" (click)="toggleTranslation()">
      {{ isTranslated ? "Back to English" : "ترجمة إلي العربية" }}
    </button>
  </div>
</div>
<!-- يتحط ف الصغيره ويتشال ف الكبيره- -->
<div class="d-block d-lg-none a my-4 p-2">
  <img src="../../../assets/logo.png" class="w-100" />
</div>

<div id="nav" class="d-flex justify-content-around">
  <!--big screen  dيتحط ف الكبيره ويتشال ف الصغيره-->

  <div class="d-none d-lg-block mb-4 mx-4">
    <img src="../../../assets/logo.png" />
  </div>

  <div class="d-none d-lg-block mt-4 search-container col-6">
    <!-- //////////////////////////////////////////////////////////////////////// -->
    <input
      #searchQuery
      class="w-75 searchInput"
      type="text"
      placeholder="{{
        isTranslated ? translatedText.searchpar : originalText.searchpar
      }}"
    />
    <!-- //////////////////////////////////////////////////////////////////////// -->
    <button (click)="search(searchQuery.value)" id="searchBtn" class="w-25">
      <span id="search">{{
        isTranslated ? translatedText.search : originalText.search
      }}</span>
    </button>
  </div>

  <div class="d-none d-lg-block m-4">
    <div (mouseleave)="cartHide()" class="row align-items-center">
      <div class="col-auto">
        <label>
          <span id="Shopping">{{
            isTranslated ? translatedText.Shopping : originalText.Shopping
          }}</span>
        </label>
      </div>
      <div class="col-auto" style="position: relative">
        <a
          (mouseenter)="cartShow()"
          class="btn btn-primary"
          routerLink="/shopping-cart"
        >
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <div
          id="bubble"
          (mouseenter)="cartShow()"
          class="position-absolute bubble text-start"
        >
          <app-cart-hover></app-cart-hover>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
</div>

<!-- ناف بار معين ف الشاشات الكبيره  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-none d-lg-block">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-block d-lg-none">
      <button class="btn btn-primary mx-1">
        <i class="fa-solid fa-shop fa-xl"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul
        class="navbar-nav m-auto"
        id="navbar"
        style="font-size: 2vmin !important"
      >
        <li class="nav-item">
          <a
            class="btn btn-primary nav-link p-3 mt-lg-0 mt-sm-2 mx-lg-1 mt-2"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/"
          >
            <span id="Home">{{
              isTranslated ? translatedText.Home : originalText.Home
            }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-primary nav-link p-3 mt-lg-0 mt-sm-2 mx-lg-1 mt-2"
            routerLinkActive="active"
            routerLink="/all-products"
          >
            <span id="Products">{{
              isTranslated
                ? translatedText.allproducts
                : originalText.allproducts
            }}</span>
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="btn btn-primary nav-link p-3 mt-lg-0 mt-sm-2 mx-lg-1 mt-2"
            routerLinkActive="active"
            routerLink="/dashboard"
          >
            <span id="Dashboard">{{
              isTranslated ? translatedText.dashboard : originalText.dashboard
            }}</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="btn btn-primary nav-link p-3 mt-lg-0 mt-sm-2 mx-lg-1 mt-2"
            routerLinkActive="active"
            routerLink="/about"
          >
            <span id="About">{{
              isTranslated ? translatedText.About : originalText.About
            }}</span></a
          >
        </li>

        <li class="nav-item">
          <a
            class="btn btn-primary nav-link p-3 mt-lg-0 mt-sm-2 mx-lg-1 mt-2"
            routerLinkActive="active"
            routerLink="/contact-us"
          >
            <span id="ContactUs">{{
              isTranslated ? translatedText.ContactUs : originalText.ContactUs
            }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- ناف بار معين ف الشاشات الصغيره  -->
<nav
  id="smallNav"
  class="navbar navbar-expand-lg navbar-dark bg-primary d-block d-lg-none m-auto"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler mt-2"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-block d-lg-none">
      <button class="btn btn-primary mx-1">
        <a routerLink="/shopping-cart">
          <i class="fa-solid fa-cart-shopping fa-xl"></i>
        </a>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto" id="navbar">
        <li class="nav-item">
          <a
            class="btn btn-primary nav-link p-3 mt-lg-0 mt-sm-2 mx-lg-1 mt-2"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/"
          >
            <span id="Home">{{
              isTranslated ? translatedText.Home : originalText.Home
            }}</span>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-primary nav-link p-3 mt-lg-0 mt-sm-2 mx-lg-1 mt-2"
            routerLinkActive="active"
            routerLink="/all-products"
          >
            <span id="Products">{{
              isTranslated
                ? translatedText.allproducts
                : originalText.allproducts
            }}</span>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-primary nav-link p-3 mt-lg-0 mt-sm-2 mx-lg-1 mt-2"
            routerLinkActive="active"
            routerLink="/dashboard"
          >
            <span id="Dashboard">{{
              isTranslated ? translatedText.dashboard : originalText.dashboard
            }}</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="btn btn-primary nav-link p-3 mt-lg-0 mt-sm-2 mx-lg-1 mt-2"
            routerLinkActive="active"
            routerLink="/about"
          >
            <span id="About">{{
              isTranslated ? translatedText.About : originalText.About
            }}</span></a
          >
        </li>

        <li class="nav-item">
          <a
            class="btn btn-primary nav-link p-3 mt-lg-0 mt-sm-2 mx-lg-1 mt-2"
            routerLinkActive="active"
            routerLink="/contact-us"
          >
            <span id="ContactUs">{{
              isTranslated ? translatedText.ContactUs : originalText.ContactUs
            }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
    
</nav>
