<app-slider></app-slider>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-2 col-sm-4 image-container text-center">
      <a routerLink="/category/:set">
        <img src="assets/images/birds.png" class="hover-image" />
      </a>
    </div>
    <div class="col-lg-2 col-sm-4 image-container text-center">
      <a routerLink="/category/:set">
        <img src="assets/images/cats.png" class="hover-image"
      /></a>
    </div>
    <div class="col-lg-2 col-sm-4 image-container text-center">
      <a routerLink="/category/:set">
        <img src="assets/images/dogs.png" class="hover-image"
      /></a>
    </div>
    <div class="col-lg-2 col-sm-4 image-container text-center">
      <a routerLink="/category/:set">
        <img src="assets/images/Fish.png" class="hover-image"
      /></a>
    </div>
    <div class="col-lg-2 col-sm-4 image-container text-center">
      <a routerLink="/category/:set">
        <img src="assets/images/hamster.png" class="hover-image"
      /></a>
    </div>
  </div>
  <div
    class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-lg-4 g-4 mt-5"
  >
    @for(product of Products; track product.id){
    <div class="col">
      <div class="card h-100">
        <a routerLink="/product/{{ product.id }}">
          <img
            style="height: 20vw; width: 20vw"
            src="{{ product.image }}"
            class="card-img-top"
            alt="..."
        /></a>
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.price | currency : "EGP " }}</p>
          <p class="card-text">
            rating: {{ product.rating }} &#11088; &#11088; &#11088;
          </p>
          <p class="card-text">reviews: {{ product.reviews }}</p>
          <a href="#" class="btn btn-primary w-100">Add to Cart</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>
