.btn-primary {
  background-color: #001672;
  border: 0;
}

.quantity * {
  font-size: 2vmin;
}

input:focus {
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

td {
  vertical-align: middle !important;
}

input {
  border-radius: 0;
  text-align: center;
}

.down {
  /* border-radius: 0 0.5rem 0.5rem 0; */
  border-radius: 0;
}

.delete {
  border-radius: 0 0.5rem 0.5rem 0;
  border: 0;
}

.up {
  border-radius: 0.5rem 0 0 0.5rem;
}
