<div id="outercontainer">
  <div class="container" [dir]="isTranslated ? 'rtl' : 'ltr'">
    <div class="form login col-10 col-md-6 position-relative">
      <div class="c1">
        <span class="title">
          {{ isTranslated ? translatedText.a1 : originalText.a1 }}</span
        >

        @if(User.ckeckError()){

        <button
          type="button"
          class="btn btn-light position-absolute mx-2 px-2 Err"
          data-bs-toggle="popover"
          data-bs-title="Popover title"
          data-bs-trigger="hover focus"
          data-bs-title="error"
          data-bs-content="the email or password that you've entered doesn't match any account (may you need to register first or check your input and try again)"
          [style.left]="isTranslated ? '0' : 'auto'"
          [style.right]="isTranslated ? 'auto' : '0'"
          #errorButton
        >
          <i
            class="bi bi-exclamation-triangle btn btn-outline-danger m-1 px-1"
          ></i>
        </button>

        }
        <span class="popup end-0 top-0">
          {{ isTranslated ? translatedText.a2 : originalText.a2 }}
        </span>
      </div>

      <form [formGroup]="validate" action="#">
        <!-- email -->
        <div class="">
          <div class="input-field m-1 mt-2">
            <input
              type="text"
              [(ngModel)]="email"
              name="email"
              placeholder=" {{
                isTranslated ? translatedText.a3 : originalText.a3
              }}"
              required
              formControlName="userEmail"
            />
            <i class="bi bi-envelope-at"></i>
          </div>
          @if(emailValid){
          <p></p>
          } @else if (email){
          <p style="color: skyblue">
            <span style="font-size: smaller"> exemple"&#64;"gmail.com</span>
          </p>

          } @else {
          <p style="color: red; font-size: smaller">
            {{ isTranslated ? translatedText.a8 : originalText.a8 }}
          </p>
          }
        </div>

        <!-- password -->
        <div>
          <div class="input-field m-0">
            <input
              [type]="show_hide"
              [(ngModel)]="password"
              name="password"
              formControlName="userPassword"
              class="password"
              placeholder="{{
                isTranslated ? translatedText.a4 : originalText.a4
              }}"
              required
            />
            <i
              [class]="icon"
              (click)="showHidePw()"
              [style]="isTranslated ? 'left: 0' : 'right: 0'"
            ></i>
            <i class="bi bi-person-lock"></i>
          </div>
          @if(passValid){ } @else if(password){
          <p style="color: red; font-size: smaller">
            {{ isTranslated ? translatedText.a8 : originalText.a8 }}
          </p>
          }
        </div>

        <!-- checkbox ==> Remember me & Forgot password? link -->
        <div class="checkbox-text">
          <div class="checkbox-content">
            <input type="checkbox" id="logCheck" />
            <label for="logCheck" class="text">{{
              isTranslated ? translatedText.a5 : originalText.a5
            }}</label>
          </div>
          <a href="#" class="text">{{
            isTranslated ? translatedText.a6 : originalText.a6
          }}</a>
        </div>
        <!-- Login button -->
        <div class="input-field button">
          <!-- <input type="button" value="Login" (click)="login_config()" /> -->
          <button
            [disabled]="validate.invalid"
            type="button"
            class="btn btn-primary w-100 h-100"
            id="liveToastBtn"
            (click)="login_config()"
          >
            {{ isTranslated ? translatedText.a7 : originalText.a7 }}
          </button>
        </div>
      </form>

      <div class="login-signup">
        <span class="text">
          {{ isTranslated ? translatedText.a9 : originalText.a9 }}
          <a
            routerLink="/register"
            routerLinkActive="router-link-active"
            class="text signup-link"
          >
            {{ isTranslated ? translatedText.a10 : originalText.a10 }}
          </a>
          <!-- (click)="go_regist()" -->
        </span>
      </div>
    </div>
      
  </div>
</div>
