<div class="container mt-3">
  <div class="row" [dir]="isTranslated ? 'rtl' : 'ltr'">
    <div class="col-9">
      <form action="/">
        <div class="row">
          <div class="col-50">
            <h3>{{ isTranslated ? translatedText.a2 : originalText.a2 }}</h3>
            <label for="fname"
              ><i class="fa fa-user"></i
              >{{ isTranslated ? translatedText.a2 : originalText.a2 }}</label
            >
            <input
              type="text"
              id="fname"
              name="firstname"
              placeholder="PetShop Team3"
              required
            />
            <label for="email"
              ><i class="fa fa-envelope"></i>
              {{ isTranslated ? translatedText.a3 : originalText.a3 }}</label
            >
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Team3@example.com"
              required
            />
            <label for="adr"
              ><i class="fa fa-address-card-o"></i>
              {{ isTranslated ? translatedText.a4 : originalText.a4 }}</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              placeholder="542 W. 15th Street"
              required
            />
            <label for="city"
              ><i class="fa fa-institution"></i>
              {{ isTranslated ? translatedText.a5 : originalText.a5 }}</label
            >
            <input
              type="text"
              id="city"
              name="city"
              placeholder="Benha"
              required
            />

            <div class="row">
              <div class="col-50">
                <label for="state">{{
                  isTranslated ? translatedText.a6 : originalText.a6
                }}</label>
                <input
                  type="text"
                  id="state"
                  name="state"
                  placeholder="NY"
                  required
                />
              </div>
              <div class="col-50">
                <label for="zip">{{
                  isTranslated ? translatedText.a7 : originalText.a7
                }}</label>
                <input
                  type="text"
                  id="zip"
                  name="zip"
                  placeholder="10001"
                  required
                />
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>{{ isTranslated ? translatedText.a8 : originalText.a8 }}</h3>
            <label for="fname">{{
              isTranslated ? translatedText.a9 : originalText.a9
            }}</label>
            <img
              src="https://images.ctfassets.net/gc4s9mi2asix/27iheywutAjlzI1CWL3srg/78dad30c9edccdf21edb709b6b0de272/Accepted-Cards-US.png"
              width="500px"
              height="50px"
              alt="We Accept Credit Cards - All Major Credit Cards Accepted @clipartmax.com"
            />
            <label for="cname">{{
              isTranslated ? translatedText.a10 : originalText.a10
            }}</label>
            <input
              type="text"
              id="cname"
              name="cardname"
              placeholder="PetShop Team3"
              required
            />
            <label for="ccnum">{{
              isTranslated ? translatedText.a11 : originalText.a11
            }}</label>
            <input
              type="text"
              id="ccnum"
              name="cardnumber"
              placeholder="1111-2222-3333-4444"
              required
            />
            <label for="expmonth">{{
              isTranslated ? translatedText.a12 : originalText.a12
            }}</label>
            <input
              type="text"
              id="expmonth"
              name="expmonth"
              placeholder="September"
              required
            />

            <div class="row">
              <div class="col-50">
                <label for="expyear">{{
                  isTranslated ? translatedText.a13 : originalText.a13
                }}</label>
                <input
                  type="text"
                  id="expyear"
                  name="expyear"
                  placeholder="2024"
                  required
                />
              </div>
              <div class="col-50">
                <label for="cvv">{{
                  isTranslated ? translatedText.a14 : originalText.a14
                }}</label>
                <input
                  type="text"
                  id="cvv"
                  name="cvv"
                  placeholder="352"
                  required
                />
              </div>
            </div>
          </div>
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr" required />
          {{ isTranslated ? translatedText.a15 : originalText.a15 }}
        </label>
        <input
          type="submit"
          value="{{ isTranslated ? translatedText.a16 : originalText.a16 }}"
          class="btn"
        />
      </form>
    </div>

    <div class="border rounded col-3 p-2">
      <h4>
        {{ isTranslated ? translatedText.a17 : originalText.a17 }}
        <span class="price" style="color: black">
          <i class="fa fa-shopping-cart"></i>
        </span>
      </h4>
      <!--<p><a href="#">Product 1</a> <span class="price">$15</span></p>
      <p><a href="#">Product 2</a> <span class="price">$5</span></p>
      <p><a href="#">Product 3</a> <span class="price">$8</span></p>
      <p><a href="#">Product 4</a> <span class="price">$2</span></p>
      <hr />
      <p>
        Total <span class="price" style="color: black"><b>$30</b></span>
      </p> -->

      <app-cart-hover></app-cart-hover>
    </div>
      
  </div>
</div>
